.container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'mn mn mn mn'
    'ft ft ft ft';
    margin: auto;
    background-color: black;
}

header{
    grid-area: hd;
    background: #e8dddd;
}

nav{
    grid-area: nv;
    display: flex;
    justify-content: space-around;
    background-color: #111412;
    color: #ffffff;
    height: 10vh;
    font-size: 40px;   
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer{
    grid-area: ft;
    background: #111412;
    color: #2ecc40;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

main {
    grid-area: mn;
    font-family: Arial, sans-serif;
    background-color: rgb(18, 21, 18);
    height: 500px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    
}

nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a:hover { 
    
    color: rgb(11, 122, 93);

}
  
  
body{
    margin: 0;
    background-color: black;
  }

#titel{
    text-align: center;
    font-size: 50px;
    margin: 0;
    color:#000000;
}

#kodbild{
height: 450px;
width: 1000px;
margin-left: 130px;
margin-right: 130px;
margin-top: 20px;
margin-bottom: 20px;
}

.container2{

    grid-template-areas: 'hd hd hd hd hd hd '
    'nv nv nv nv nv nv'
    'as sec1 sec1 sec1 sec1 sec1'
    'as sec2 sec2 sec2 sec2 sec2'
    'ft ft ft ft ft ft ';

    grid-template-rows: auto 1fr 3fr 3fr auto;
    display: grid;
    height: 120vh;
   
    background-color: black;
}


#sec1{
  grid-area: sec1;
  background-color:#ffffff;
  color: #000000;
  gap: 0;
  padding: 10px;
  border: 3px solid;
  border-radius: 10px;
}

#sec2{
    grid-area: sec2;
    background-color:#ffffff ;
    color: #000000;
    padding: 10px;
    border: 3px solid;
    border-radius: 10px;
    

}

aside{
    grid-area: as;
    background-color:#b6b9b6;
    padding: 10px;
    border: 3px solid;
    border-radius: 10px;
}

aside ul li{
    padding: 25px;
    list-style: none;
    font-size: larger;

}

.card{
    background: white;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    width: 250px;
    height: 250px;

}

.card:hover {
    transform: scale(1.1);
}

.card h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.card p{
    font-size: 20px;
    margin: 15px;
    color: #023015;
}


.card ul{
    padding: 0;    
    margin: 20px;
    list-style: none;
}

.card ul li {
font-size: 16px;
margin: 10px;
}

.lang:hover{
    color: #000000;
    border: 3px solid;
    border-radius: 10px;
}