.container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'mn mn mn mn'
    'ft ft ft ft';
    margin: auto;
    gap: 3px;
    background-color: black;
}

header{
    grid-area: hd;
    background: #2ecc71;
}

nav{
    grid-area: nv;
    display: flex;
    justify-content: space-around;
    background-color: #2ecc71;
    height: 10vh;
    font-size: 40px;   
}
nav a {
    text-decoration: none;
    color: black;
}

footer{
    grid-area: ft;
    background: #2ecc71;
    color: black;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

main {
    grid-area: mn;
    background-color: black;
    height: 500px;
    
}

nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a:hover { 
    
    color: red;

}
  
  
body{
    margin: 0;
    background-color: black;
  }

#titel{
    text-align: center;
    font-size: 50px;
    margin: 0;
    color: black;
}

#kodbild{
height: 450px;
width: 1000px;
margin-left: 130px;
margin-right: 130px;
margin-top: 20px;
margin-bottom: 20px;
}

